/* Nav bar font  */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Joan&family=Kdam+Thmor+Pro&family=Montserrat:wght@100&display=swap');
/* *** */
/* paragraph font  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&family=Libre+Baskerville:ital@1&family=Lobster&family=Montagu+Slab:opsz,wght@16..144,300;16..144,400&family=Oswald&family=PT+Sans+Narrow:wght@700&family=PT+Serif:ital@1&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@0,400;1,100&family=Roboto:wght@300&display=swap');
/* *** */
/* nav bar @meedia font  */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&display=swap');
/* *** */
/* responsive navbar  */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
header{
    background-color: black;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding:  0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: "Joan";
    font-size: 25px;
}
#logo{
    font-size: 30px;
    text-decoration: none; 
}
#logo:hover{
    cursor:pointer;
}
.nav-link{
    transition: 0.3s ease;
}
.nav-link:hover{
    color: aqua;
}
.hamburger{
    display: none;
    cursor: pointer; 
} 
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:  5px auto;
    -webkit-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
    /* color: white; */
    background-color: aliceblue;
}

@media(max-width: 768px) {
    .hamburger{
        display: block;
    }
    .hamburger  .active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger  .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger  .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    /* navbar responsive ends here  */
    #animeMainDiv{
        display: inline;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .animeImg{
        width: 100%;
    }
    #bleach{
        margin-bottom: 100px;
    }

}


body{
    margin: 0;
    background-image: url(images/pexels-tima-miroshnichenko-5662857.jpg);
}
input{
    width: 300px;
    height: 20px;
}
#sArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.animeImg{
    height: 40vh;
}
#animeMainDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.animeDiv{
    border: solid 1px black;
    padding: 50px 30px;
    background-color: black;
    margin: 20px;
}
.animeT, .animeP{
    margin-bottom: 50px;
    font-size: 40px;
    color: aliceblue;
    font-family: "Joan";
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.hac{
    text-decoration: none; 
    color: white;
    font-size: 25px;
    margin-left: 5px;
    font-family: "Joan";
}
#cChange{
    color: rgb(255, 119, 0);
    /* margin-left: 300px; */
}